In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 250)

In [15]:
df1 = pd.read_csv("newOutputs/classifiers.csv", index_col=0)[['structure_id','arcs_ratio', 'maxdegree/nodes', 'mean_degree', 'leaves/nodes', 'roots/nodes']].drop_duplicates(keep='first').groupby("structure_id").mean()
df2 = pd.read_csv("newOutputs/comparison.csv", index_col=0)[['structure_id','arcs_ratio', 'maxdegree/nodes', 'mean_degree', 'leaves/nodes', 'roots/nodes']].drop_duplicates(keep='first').groupby("structure_id").mean()
df2

,arcs_ratio,maxdegree/nodes,mean_degree,leaves/nodes,roots/nodes
structure_id,,,,,
0,0.999999,0.375000,0.156250,0.541667,0.479167
1,0.999999,0.384615,0.168269,0.519231,0.461538
2,0.999999,0.384615,0.168269,0.519231,0.461538
3,0.999999,0.401961,0.158088,0.299020,0.240196
4,0.999999,0.401961,0.158088,0.299020,0.240196
...,...,...,...,...,...
145,1.500000,0.361111,0.138889,0.435185,0.398148
146,1.500000,0.361111,0.138889,0.435185,0.398148
153,1.500000,0.389423,0.150240,0.317308,0.293269
154,1.500000,0.389423,0.150240,0.317308,0.293269
155,1.500000,0.389423,0.150240,0.317308,0.293269

In [21]:
(df1 - df2).mean(), (df1 - df2).std()

(arcs_ratio        -3.700743e-18
 maxdegree/nodes   -2.058230e-02
 mean_degree        8.872744e-03
 leaves/nodes      -8.587682e-02
 roots/nodes       -8.140282e-02
 dtype: float64,
 arcs_ratio         2.004076e-17
 maxdegree/nodes    8.043445e-02
 mean_degree        2.018934e-02
 leaves/nodes       6.726931e-02
 roots/nodes        8.009095e-02
 dtype: float64)